.review {
    background-color: aliceblue;
    padding: 25px;
    margin: 25px;
}

.headline {
    margin-top: 45px;
    margin-bottom: 45px;
}

.review img {
    height: 100px;
    width: 100px;
    border-radius: 10px;
}